 * {
  margin: 0;
  padding: 0;
}
 body,html {
  height: 100%;
  overflow-x: hidden;
 }
 ul{
  list-style: none;
 }

a {
  text-decoration: none;
  color: #fff;
}

a, span, li {
  cursor: pointer;
}

.ct-box {
  background-size: cover;
  background-position:  50% 50%;
  text-align: center;
}
.carousel, .sections, .ct-box{
  height: 100%;
}

.sections {
  background-color: #555;
  align-items: center;
  transition: all .3s;
  /*考虑到滚动条有宽度，所以是1349px*/
  transform: translateX(-1349px);
}
.ct-box {
  float: left;
  opacity: .9;
}

.section0{
  background-image: url(../pics/1.png);
}
.section1 {
  background-image: url(../pics/2.png);
}
.section2 {
  background-image: url(../pics/3.jpg);
}
.section3 {
  background-image: url(../pics/4.png);
}

.carousel {
  position: relative;
  width: 600%;
}

.slide {
  top: 0;
  height: 100%;
  width: calc(100%/6);
  position: absolute;
}

.left {
  width: calc(100%/6);
}

h2 {
  color: #c9f;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #aaa;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
  font-size: 30px;
}

.btn-right {
  right: 0px;
}



/* 加载更多区域 */
.wrap {
  text-align: center;
}

#btn-load {
  margin-top: 60px;
  padding: 20px 30px;
  display: inline-block;
  background-color: #ccc;
}

#news {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f7f7f7;
    text-align: center;
}

#news .news-title>h2 {
    font-size: 40px;
    letter-spacing: 3px;
}

#news .news-title>p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 2px;
}

#news .waterfall-ct {
    position: relative;
    margin-left: 70px;
}

#news .waterfall-ct li {
    width: 280px;
    margin: 10px;
    border: 2px solid #aaa;
    position: absolute;
    padding: 2px;
    transition: .5s all;
}

#news .waterfall-ct li:hover {
    transform: scale(1.03);
}

#news .waterfall-ct a {
    width: 100%;
    display: block;
}

#news .waterfall-ct img {
    width: 100%;
}

#news .waterfall-ct h4 {
    color: #333;
    margin: 10px;
    text-align: center;
}

#news .waterfall-ct p {
    color: #9e9e9e;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
    margin: 10px;
}
